/*
Theme Name: Divi Child Mitre Site Logo
Description: Divi child theme to support wordpress.mitre.org.
Author: MITRE ECIS WordPress Architecture Team
Template: Divi
Version: 1.0.2
*/

#mpn-40355615407952805-wrapper {
    font-family: Tahoma,Geneva,sans-serif !important;
    font-size: 14px !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 34px !important;
    color: #fff !important;
    overflow: hidden !important;
    box-sizing: content-box !important;
    margin-bottom: -34px;
}

#mpn-40355615407952805-bg {
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    background-color: #555 !important;
    height: 34px !important;
    overflow: hidden !important;
    box-sizing: content-box !important;
    margin-bottom: -34px;
}

#mpn-40355615407952805-header {
    height: 34px !important;
    width: 100% !important;
    vertical-align: middle !important;
}

#mpn-40355615407952805-header img {
    border: 0 !important;
    display: inline !important;
    vertical-align: bottom !important;
    padding-bottom: 0px !important;
}

.mpn-40355615407952805-phl {
    padding: 0 15px !important;
}

#mpn-40355615407952805-header div.mpn-40355615407952805-left {
    float: left !important;
    background: url(https://mpn.mitre.org/static/header/images/bg_left.png) right no-repeat #555 !important;
    padding-right: 30px !important;
    height: 100%;
}

#mpn-40355615407952805-header div.mpn-40355615407952805-right {
    float: right !important;
}

#mpn-40355615407952805-wrapper * {
    font-family: Tahoma,Geneva,sans-serif !important;
    font-size: 14px !important;
    box-sizing: content-box !important;
}

.et_menu_container {
    /* padding-top: 20px; */
    margin-bottom: 5px !important;
}

